:root{
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #ffff00;
  --color-blue: #6a83fb;
  --color-violet: #ae72c2 ;
  --color-dark-gray: #10100e;
  --color-red: #f75d83;
  --color-gray: #9c9c9c;

  --color-light:#29e52d;
  --color-dark:#d82228;
  --color-neitral:#ffff00;

  --color-light-gray:#dfe2df;

  --color-shadow-light: rgba(41, 229, 45, .4);
  --color-shadow-dark: rgba(216,34,40,.4);
  --color-shadow-neitral:rgba(224,224, 81, .4);

  
  --font-bold: 600 ;
  
  
  --theme-default-bgimage: url(../src/static/bg.jpg);

  --spacing-ultrasmall: 5px ;
  --spacing-small: 10px ;
  --spacing-medium: 20px;
  --spacing-large: 30px;

  --margin-list: 7px;

  --width-max:1200px;

  --border-radius-small: 3px;
  --border-radius-medium: 5px;

  --font-family-main: sans-serif;

  --font-size-header: 26px;
  --font-size-subheader: 18px;
  --font-size-medium:16px;

  --theme-default-header: #cccc46;
  --transition: .4s;
  --text-shadow-yellow: 
          0 0 2px var(--color-white),
          0 0 40px var(--color-yellow);

          /*THEMES*/
  --theme-light-header: #dfe2df;
  --theme-dark-header: #ca6c6f;
  --theme-neitral-header: #cccc46;

  --theme-default-header: var(--theme-neitral-header);

  --theme-light-bgimage:  linear-gradient(90deg, rgb(27, 36, 25) 2%, rgba(9,121,46,1) 65%, rgb(16, 102, 74) 100%); ;
  --theme-dark-bgimage:  linear-gradient(to right top, #74082f, #571d09, #362400, #1c2004, #0e1810);;
  --theme-neitral-bgimage:url(../src/static/bg.jpg);
  --theme-default-bgimage: var(--theme-neitral-bgimage);

  --text-shadow-blue: 
  0 0 2px var(--color-white),
  0 0 40px var(--color-blue);      
  
  --text-shadow-white: 
  0 0 2px var(--color-white),
  0 0 40px var(--color-white);

}

*, *::after, *::before{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark-gray);
  font-family: var(--font-family-main);
  background-image: var(--theme-default-bgimage);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;

}

img{
  display: block;
}

.header__text{
  line-height: 1.7;
  font-size: var(--font-size-header);
  text-shadow: 0 0 2px var(--color-black);
  color: var(--theme-default-header);
  transition: color var(--transition);
}

*{
  scrollbar-color: rgb(36, 57, 97) rgba(0, 0, 0, .7);
  scrollbar-width: thin;
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(36, 57, 97);
  border-radius: 2px;
}

::-webkit-scrollbar-track{
  background-color: rgba(0, 0, 0, .7);
}

::-webkit-scrollbar-corner{
  background-color: rgba(0, 0, 0, .7);
}
